body {
    font-family: 'Assistant', sans-serif;
}

body { 
  background-image: url("galaxyy.jpg");

  height: 100%; 
    
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media only screen and (max-width: 600px) {
    { body
        background-color: lightblue; }
}
.heading {
  background-color: #000000;
}
.ctext {
  text-align: center;
}
.container {
    display:flex;
    align-content: center;
}
.container > div {
    padding: 1px;
    text-align: center;
    font-size: 1.5em;
    background-color: black;
    align-content: center;
    width: 100%;
    transition: 0.2s;
    
}
.container > div:hover {
    background-color: #A7A7A7;
}
a:link {
    color: #EAEAEA;
    text-decoration: none;
}
a:hover {
    color: #C80000;
}
.grid-container{
    display: grid;
    align-content: space-around;
    grid-template-columns: auto auto auto auto;
    padding: 0px;
    margin: 0px;
    
}
.grid-item {
    text-align: center;
    font-size: 3px;
    margin: 0px;
    padding: 0px;
}
.button {
    background-color: black;
    padding: 15px 12px;
    margin: 0px 450px;
}
.boxcontact {
    color: #EAEAEA;
    background-color: black;
    padding: 15px 12px;
    margin: 0px 350px;
}